{
  "include": "~/.config/waybar/global.jsonc",
  "position": "left",

  "modules-left": [
    "hyprland/workspaces",
    "hyprland/submap"
  ],
  "modules-center": [
    "hyprland/window"
  ],
  "modules-right": [
    "idle_inhibitor",
    "pulseaudio",
    "hyprland/language",
    {{ if .conditions.isLaptop -}}
    "backlight",
    "battery",
    {{ end -}}
    "privacy",
    "clock",
    "tray",
    "custom/power"
  ],
  "hyprland/window": {
    "max-length": 50,
  },
  "hyprland/workspaces": {
    "format": "{id}"
  }
}
