{
  "layer": "bottom",
  "position": "top",
  "height": 24,
  "modules-left": ["river/tags", "river/mode"],
  "modules-center": ["river/window"],
  "modules-right": [
    "idle_inhibitor", "pulseaudio",
    {{ if .conditions.isLaptop -}}
    "backlight",
    "battery",
    {{ end -}}
    "clock", "tray", "custom/power"
  ],
  "river/mode": {
    "format": "<span style=\"italic\">{}</span>"
  },
  "river/window": {
    "format": "{}",
    "max-length": 50,
  }
}
