{
  "layer": "bottom",
  "position": "top",
  "height": 24,
  "modules-left": ["sway/workspaces", "sway/mode"],
  "modules-center": ["sway/window"],
  "modules-right": [
    "idle_inhibitor", "custom/notification", "pulseaudio", "sway/language",
    {{ if not .isDesktop -}}
    "backlight", 
    "battery", 
    {{ end -}}
    "clock", "tray", "custom/power"
  ],
  "sway/mode": {
    "format": "<span style=\"italic\">{}</span>"
  },
  "sway/window": {
    "format": "{}",
    "max-length": 50,
    "rewrite": {
      "(.*) — Mozilla Firefox": "$1",
      "(.*) — vim": "$1",
      "(.*) — zsh": "[$1]"
    },
    "icon": true
  },
  "idle_inhibitor": {
    "format": "{icon}",
    "format-icons": {
      "activated": "",
      "deactivated": ""
    }
  },
  "tray": {
    "spacing": 10
  },
  "clock": {
    "interval": 60,
    "format": "{:%H:%M}",
    "format-alt": "{:%Y-%m-%d}",
    "max-length": 25,
    "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>"
  },
  "cpu": {
    "format": "{usage}% ",
    "tooltip": false
  },
  "memory": {
    "format": "{}% "
  },
  "temperature": {
    "critical-threshold": 80,
    "format": "{temperatureC}°C {icon}",
    "format-icons": ["", "", ""]
  },
  "backlight": {
    "format": "{percent}% {icon}",
    "format-icons": ["", ""]
  },
  "battery": {
    "states": {
      "good": 80,
      "warning": 30,
      "critical": 15
    },
    "format": "{capacity}% {icon}",
    "format-charging": "{capacity}% ",
    "format-plugged": "{capacity}% ",
    "format-alt": "{time} {icon}",
    "format-full": "",
    "format-icons": ["", "", "", "", ""]
  },
  "network": {
    "format-wifi": "{essid} ({signalStrength}%) ",
    "format-ethernet": "{ifname}: {ipaddr}/{cidr} ",
    "format-linked": "{ifname} (No IP) ",
    "format-disconnected": "Disconnected ⚠",
    "format-alt": "{ifname}: {ipaddr}/{cidr}"
  },
  "pulseaudio": {
    "format": "{volume}% {icon} {format_source}",
    "format-bluetooth": "{volume}% {icon} {format_source}",
    "format-bluetooth-muted": " {icon} {format_source}",
    "format-muted": " {format_source}",
    "format-source": "{volume}% ",
    "format-source-muted": "",
    "format-icons": {
      "headphone": "",
      "hands-free": "",
      "headset": "",
      "phone": "",
      "portable": "",
      "car": "",
      "default": ["", "", ""]
    },
    "on-click": "pavucontrol"
  },
  "sway/language": {
    "format": "{}",
    "on-click": "swaymsg input type:keyboard xkb_switch_layout next",
  },
  "custom/notification": {
    "tooltip": false,
    "format": "{icon}",
    "format-icons": {
      "notification": "<span foreground='red'><sup></sup></span>",
      "none": "",
      "dnd-notification": "<span foreground='red'><sup></sup></span>",
      "dnd-none": ""
    },
    "return-type": "json",
    "exec-if": "which swaync-client",
    "exec": "swaync-client -swb",
    "on-click": "swaync-client -t -sw",
    "on-click-right": "swaync-client -d -sw",
    "escape": true
  },
  "custom/power": {
    "format": "",
    "on-click": "{{ .powermenu }}"
  }
}
