{
  "layer": "bottom",
  "position": "top",
  "height": 24,
  "modules-left": ["sway/workspaces", "sway/mode"],
  "modules-center": ["sway/window"],
  "modules-right": [
    "idle_inhibitor", "pulseaudio", "sway/language",
    {{ if .conditions.isLaptop -}}
    "backlight",
    "battery",
    {{ end -}}
    "privacy",
    "clock", "tray", "custom/power"
  ],
  "sway/mode": {
    "format": "<span style=\"italic\">{}</span>"
  },
  "sway/window": {
    "format": "{}",
    "max-length": 50,
    "rewrite": {
      "(.*) — Mozilla Firefox": "$1",
      "(.*) — vim": "$1",
      "(.*) — zsh": "[$1]"
    },
    "icon": true
  },
  "sway/language": {
    "format": "{}",
    "on-click": "swaymsg input type:keyboard xkb_switch_layout next"
  }
}
