[general]
import = [
  "~/.config/alacritty/catppuccin-macchiato.toml"
]

[font]
normal.family = "{{ .fonts.latin.terminal_monospace }}"
#bold.family = "{{ .fonts.latin.terminal_monospace }}"
#italic.family = "{{ .fonts.latin.terminal_monospace }}"
#bold_italic.family = "{{ .fonts.latin.terminal_monospace }}"

size = 12.0
