// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

spawn-sh-at-startup "systemd-cat -t waybar waybar -c ~/.config/waybar/niri.jsonc -s ~/.config/waybar/niri.css"
spawn-sh-at-startup "systemd-cat -t mako mako"

{{ if (eq .terminal "footclient") }}
spawn-sh-at-startup "foot --server"
{{ end }}

spawn-sh-at-startup "waypaper --restore"

spawn-sh-at-startup "systemd-cat -t wlsunset wlsunset -S 06:30 -s 18:30 -d 1800 -t 4000 -T 6500"

spawn-sh-at-startup "systemd-cat -t shikane shikane"

spawn-sh-at-startup "systemd-cat -t hypridle hypridle"

spawn-sh-at-startup "systemctl start --user user-system-ready.target"
