# Status Bar
exec systemd-cat -t waybar waybar -c ~/.config/waybar/sway.json -s ~/.config/waybar/sway.css

# Notification
exec systemd-cat -t mako mako

{{ if (eq .terminal "footclient") -}}
exec foot --server
{{ end }}

{{ if (eq .terminal "alacritty msg create-window") -}}
exec alacritty --daemon --socket=$ALACRITTY_SOCKET
{{ end }}

# Wallpapers
exec waypaper --restore

# Display Color Temperature
exec systemd-cat -t wlsunset wlsunset -S 06:30 -s 18:30 -d 1800 -t 4000 -T 6500

# https://github.com/swaywm/sway/wiki#gtk-applications-take-20-seconds-to-start
# exec dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK

exec swayidle -w \
         timeout 300 '{{ .locker }}' \
         timeout 600 'swaymsg "output * power off"' resume 'swaymsg "output * power on"' \
         before-sleep '{{ .locker }}'

exec sleep 1 && systemctl start --user user-system-ready.target
