{{ if not .isDesktop -}}
input "type:touchpad" {
  natural_scroll enabled
  tap enabled
  pointer_accel -0.1
}
{{ end -}}
input "type:pointer" {
  accel_profile "flat"
  pointer_accel -0.1
}
input "type:keyboard" {
  repeat_rate 39
  repeat_delay 250
  xkb_layout us,th
  xkb_options grp:ralt_rshift_toggle
}
input "1356:3302:Sony_Interactive_Entertainment_DualSense_Wireless_Controller_Touchpad" {
  events disabled
  tap disabled
}
