set $mod Mod4
set $left h
set $down j
set $up k
set $right l

set $term {{ .terminal }}
set $browser {{ .browser }}
set $editor {{ .editor }}
set $launcher {{ .launcher }}
#set $powermenu {{ .powermenu }}
