bind = $mainMod, code:36, exec, $term
bind = $mainMod_SHIFT, code:24, killactive,
bind = $mainMod_SHIFT, DELETE, exec, $powermenu
bind = $mainMod, code:40, exec, $launcher
bind = $mainMod, code:48, exec, $browser
# bind = $mainMod, P, pseudo, # dwindle
bind = $mainMod, code:35, layoutmsg, togglesplit
bind = $mainMod, code:41, fullscreen, 0

# Move window, Vim-like
bind = $mainMod_SHIFT, code:43, movewindow, l
bind = $mainMod_SHIFT, code:46, movewindow, r
bind = $mainMod_SHIFT, code:45, movewindow, u
bind = $mainMod_SHIFT, code:44, movewindow, d

# Move window, Arrow
bind = $mainMod_SHIFT, code:113, layoutmsg, movewindowto l
bind = $mainMod_SHIFT, code:114, layoutmsg, movewindowto r
bind = $mainMod_SHIFT, code:111, layoutmsg, movewindowto u
bind = $mainMod_SHIFT, code:116, layoutmsg, movewindowto d

# Move focus, Vim-like
bind = $mainMod, code:43, layoutmsg, focus l
bind = $mainMod, code:46, layoutmsg, focus r
bind = $mainMod, code:45, layoutmsg, focus u
bind = $mainMod, code:44, layoutmsg, focus d

# Move focus, Arrow
bind = $mainMod, code:113, movefocus, l
bind = $mainMod, code:114, movefocus, r
bind = $mainMod, code:111, movefocus, u
bind = $mainMod, code:116, movefocus, d

bind = $mainMod, Tab, cyclenext, prev

bind = $mainMod, code:10, workspace, e-1
bind = $mainMod, code:11, workspace, e+1

bind = $mainMod_SHIFT, code:10, movetoworkspacesilent, r-1
bind = $mainMod_SHIFT, code:11, movetoworkspacesilent, r+1

# Scroll through existing workspaces with mainMod + scroll
bind = $mainMod, mouse_down, workspace, +1
bind = $mainMod, mouse_up, workspace, -1

# Move/resize windows with mainMod + LMB/RMB and dragging
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

bind = $mainMod_SHIFT, code:51, movetoworkspacesilent, special:$sc_ws
bind = $mainMod, code:51, togglespecialworkspace, $sc_ws

binde = , XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
binde = , XF86AudioRaiseVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+
binde = , XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%-
