# Output Management using kanshi
riverctl spawn 'systemd-cat -t kanshi kanshi'

# Layout Management for River
rivertile -view-padding 3 -outer-padding 3 &

riverctl spawn 'systemd-cat -t waybar waybar -c ~/.config/waybar/river.json -s ~/.config/waybar/river.css'

# Notification
exec fnott

{{ if (eq .terminal "footclient") }}
riverctl spawn 'foot --server'
{{ end }}

riverctl spawn 'systemd-cat -t wlsunset wlsunset -S 06:30 -s 18:30 -d 1800 -t 4000 -T 6500'
riverctl spawn 'nm-applet --indicator'
riverctl spawn 'systemctl --user start lxqt-policykit'
