exec-once = systemd-cat -t waybar waybar -c ~/.config/waybar/hyprland.json -s ~/.config/waybar/hyprland.css

# exec-once = systemd-cat -t ags ags

exec-once = waypaper --restore

# Notification
exec-once = dunst

exec-once = systemctl --user start lxqt-policykit

{{ if (eq .terminal "footclient") }}
exec-once = foot --server
{{ end }}

exec-once = systemd-cat -t wlsunset wlsunset -S 06:30 -s 18:30 -d 1800 -t 4000 -T 6500

exec-once = nm-applet --indicator
