{
  "layer": "top",
  // "height": 24,

  // Modules Configs
  "idle_inhibitor": {
    "format": "{icon}",
    "format-icons": {
      "activated": "",
      "deactivated": ""
    }
  },
  "tray": {
    "spacing": 10
  },
  "clock": {
    "interval": 60,
    "format": "{:%R}",
    "format-alt": "{:%F}",
    "max-length": 25,
    "tooltip-format": "<tt><small>{calendar}</small></tt>",
    "calendar": {
      "mode"          : "year",
      "mode-mon-col"  : 3,
      "weeks-pos"     : "right",
      "on-scroll"     : 1,
      "format": {
        "months":     "<span color='#ffead3'><b>{}</b></span>",
        "days":       "<span color='#ecc6d9'><b>{}</b></span>",
        "weeks":      "<span color='#99ffdd'><b>W{}</b></span>",
        "weekdays":   "<span color='#ffcc66'><b>{}</b></span>",
        "today":      "<span color='#ff6699'><b><u>{}</u></b></span>"
      }
    },
    "actions": {
      "on-click-right": "mode",
      "on-click-forward": "tz_up",
      "on-click-backward": "tz_down",
      "on-scroll-up": "shift_up",
      "on-scroll-down": "shift_down"
    }
  },
  "cpu": {
    "format": "{usage}% ",
    "tooltip": false
  },
  "memory": {
    "format": "{}% "
  },
  "temperature": {
    "hwmon-path": "/sys/devices/pci0000:00/0000:00:18.3/hwmon/hwmon4/temp3_input",
    "interval": 5,
    "critical-threshold": 80,
    "format": " {temperatureC}°C {icon}",
    "format-icons": ["", "", ""]
  },
  "backlight": {
    "format": "{percent}% {icon}",
    "format-icons": ["", ""]
  },
  "battery": {
    "states": {
      "good": 80,
      "warning": 30,
      "critical": 15
    },
    "format": "{capacity}% {icon}",
    "format-charging": "{capacity}% ",
    "format-plugged": "{capacity}% ",
    "format-alt": "{time} {icon}",
    "format-full": "",
    "format-icons": ["", "", "", "", ""]
  },
  "network": {
    "format-wifi": "{essid} ({signalStrength}%) 󰖩",
    "format-ethernet": "{ifname}: {ipaddr}/{cidr} 󰈀",
    "format-linked": "{ifname} (No IP) 󰌙",
    "format-disconnected": "Disconnected ⚠",
    "format-alt": "{ifname}: {ipaddr}/{cidr}"
  },
  "pulseaudio": {
    "format": "{volume}% {icon} {format_source}",
    "format-bluetooth": "{volume}% {icon} {format_source}",
    "format-bluetooth-muted": "󰗿 {icon} {format_source}",
    "format-muted": "󰖁 {format_source}",
    "format-source": "{volume}% ",
    "format-source-muted": "",
    "format-icons": {
      "headphone": "",
      "hands-free": "",
      "headset": "󰋎",
      "phone": "",
      "portable": "",
      "car": "",
      "default": ["", "", ""]
    },
    "on-click": "pavucontrol"
  },
  "pulseaudio/slider": {
    "min": 0,
    "max": 100,
    "orientation": "horizontal"
  },
  "privacy": {
  	"icon-spacing": 4,
  	"icon-size": 12,
  	"transition-duration": 250,
  	"modules": [
  		{
  			"type": "screenshare",
  			"tooltip": true,
  			"tooltip-icon-size": 16
  		},
  		{
  			"type": "audio-in",
  			"tooltip": true,
  			"tooltip-icon-size": 16
  		}
  	]
  },
  "group/audio": {
        "modules" : [
            "pulseaudio",
            "pulseaudio/slider"
        ],
        "orientation": "inherit",
        "drawer": {
            "transition-duration": 500,
            "transition-left-to-right": true
        }
  },
  "custom/notification": {
    "tooltip": false,
    "format": "{icon}",
    "format-icons": {
      "notification": "<span foreground='red'><sup></sup></span>",
      "none": "",
      "dnd-notification": "<span foreground='red'><sup></sup></span>",
      "dnd-none": ""
    },
    "return-type": "json",
    "exec-if": "which swaync-client",
    "exec": "swaync-client -swb",
    "on-click": "swaync-client -t -sw",
    "on-click-right": "swaync-client -d -sw",
    "escape": true
  },
  "custom/power": {
    "format": "",
    "on-click": "{{ .powermenu }}"
  }
}
