{
  "include": "~/.config/waybar/global.jsonc",
  "position": "top",
  "height": 24,

  "modules-left": [
    "niri/workspaces"
  ],
  "modules-center": [
    "niri/window"
  ],
  "modules-right": [
    "idle_inhibitor",
    "pulseaudio",
    "niri/language",
    "temperature",
    {{ if .conditions.isLaptop -}}
    "backlight",
    "battery",
    {{ end -}}
    "privacy",
    "clock",
    "tray",
    "custom/power"
  ],
  "niri/window": {
	"format": "{}",
	"rewrite": {
		"(.*) - Mozilla Firefox": "🌎 $1",
		"(.*) - zsh": "> [$1]"
	}
  },
  "niri/workspaces": {
	"format": "{icon}",
	"format-icons": {
		// Named workspaces
		// (you need to configure them in niri)
		"browser": "",
		"discord": "",
		"chat": "<b></b>",

		// Icons by state
		"active": "",
		"default": ""
	}
  },
  "niri/language": {
	"format": "{short}"
  },
  "pulseaudio/slider": {
    "min": 0,
    "max": 100,
    "orientation": "vertical"
  }
}
