[
  {
    "label": "Logout",
    "exec": "swaymsg exit",
    "icon": "{{ .nwgbarPath }}/share/nwg-bar/images/system-log-out.svg"
  },
  {
    "label": "Suspend",
    "exec": "systemctl suspend",
    "icon": "{{ .nwgbarPath }}/share/nwg-bar/images/system-lock-screen.svg"
  },
  {
    "label": "Reboot",
    "exec": "systemctl reboot",
    "icon": "{{ .nwgbarPath }}/share/nwg-bar/images/system-reboot.svg"
  },
  {
    "label": "Shutdown",
    "exec": "systemctl -i poweroff",
    "icon": "{{ .nwgbarPath }}/share/nwg-bar/images/system-shutdown.svg"
  }
]
